{% extends 'default.html' %}
{% block title %}
Repositories
{% endblock title %}

{% block content %}
    {% if ad %}
       <h1>Все репозитории</h1>
       <table>
           <tr>
               <td>Номер репозитория</td>
               <td>Название</td>
               <td>Дата</td>
           </tr>
           {% for a in ad %}
           <tr>
               <td><a href = "rep/{{rep.id}}">{{ rep.id  }}</a></td>
               <td>{{ rep.name }}</td>
               <td>{{ rep.date }}</td>

           </tr>
           {% endfor %}
       </table>
    {% else %}
       <h2>Репозиториев нет!</h2>
    {% endif %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock content %}
